<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Guia Perguntas</title>
  <!--o express vai procurar uma pasta css dentro da pasta public-->
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <!--primeira importamos o boostrap e depois o nosso css-->
  <link rel="stylesheet" href="/css/style.css">
</head>