<%- include ('./partials/header.ejs') %>
<body>
  <%- include ('./partials/navbar.ejs') %>
  <div class="container">
    <h1>responder pergunta</h1>
  </div>
</body>
<%- include ('./partials/footer.ejs') %>